# Archivo de ejemplo para variables de entorno.
# Este archivo NO debe subirse a GitHub.
# Contiene variables de entorno sensibles.

SECRET_KEY='tu-clave-secreta-aqui'

DEBUG=True

EMAIL_HOST_USER='tu-correo@gmail.com'

EMAIL_HOST_PASSWORD='tu-clave-de-aplicacion'

DEFAULT_FROM_EMAIL = 'Nombre <tu-correo@gmail.com>'

# Configuración de Google Auth (OAuth2)
GOOGLE_CLIENT_ID=tu-id-de-cliente-de-google-aqui

GOOGLE_SECRET_KEY=tu-secret-key-de-google-aqui

# Configuración del Sitio (Framework Sites)
# Local: 127.0.0.1:8000 | VM: tu-ip-publica

SITE_DOMAIN=127.0.0.1:8000

# Configuración de Base de Datos (MySQL)
DB_NAME = 'unisenaa'
DB_USER = 'root'
DB_PASSWORD = ''
DB_HOST = 'localhost'
DB_PORT = '3306'


