# Archivo de ejemplo para variables de entorno.
# Este archivo NO debe subirse a GitHub.
# Contiene variables de entorno sensibles.

SECRET_KEY='tu-clave-secreta-aqui'

DEBUG=True

EMAIL_HOST_USER='tu-correo@gmail.com'

EMAIL_HOST_PASSWORD='tu-clave-de-aplicacion'

DEFAULT_FROM_EMAIL = 'Nombre <tu-correo@gmail.com>'

# Configuración de Base de Datos (MySQL)
DB_NAME = 'unisenaa'
DB_USER = 'root'
DB_PASSWORD = ''
DB_HOST = 'localhost'
DB_PORT = '3306'
